<p id="notice"><%= notice %></p>

<p>
  <strong>Season name:</strong>
  <%= @season.season_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @season.active %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
