<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @budget_line.season %>
</p>

<p>
  <strong>Budget line type:</strong>
  <%= @budget_line.budget_line_type %>
</p>

<p>
  <strong>Budget line subtype:</strong>
  <%= @budget_line.budget_line_subtype %>
</p>

<p>
  <strong>Member:</strong>
  <%= @budget_line.member_id %>
</p>

<p>
  <strong>Budget line item name:</strong>
  <%= @budget_line.budget_line_item_name %>
</p>

<p>
  <strong>Budgeted amount:</strong>
  <%= @budget_line.budgeted_amount %>
</p>

<%= link_to 'Edit', edit_budget_line_path(@budget_line) %> |
<%= link_to 'Back', budget_lines_path %>
